
.back-content .mainContainer {
    margin: 0;
    width: 1198px;
    min-height: 650px;
    background: #fcfcfc;
}

.back-content .leftContainer {
    padding: 0;
}

.back-content .list-group-item:first-child {
    border-radius: 0;
}

.back-content .list-group-item {
    border: none;
    border-left: 5px solid #fcfcfc;
    padding-left: 30px;
    color: #044b93;
    background: #fcfcfc;
}

.back-content .list-group-item:hover {
    border-left: 5px solid #e4e4e4;
    background: #e4e4e4;
    padding-left: 30px;
    color: #044b93;
}

.back-content .list-group-item.active {
    color: #044b93;
    background: #e4e4e4;
    border-left: 5px solid #00a0e3;
}

.back-content .rightContainer {
    background: #fff;
    border-left: 1px solid #ddd;
    min-height: 650px;
    padding-top: 15px;
}

/*尾部*/
.footer {
    margin-top: 50px;
    min-width: 1200px;
    padding-top: 23px;
    border-top: 3px solid #1479d7;
    height: 120px;
    font-weight: lighter;
    text-align: center;
    font-size: 14px;
}

.footer p {
    line-height: 2em;
}

.footer .footer-logo {
    margin-top: 20px;
}

.footer .footer-logo img {
    margin: 0 17px;
}
.error-span{
  color:#cc0000;
}
